# vim: set filetype=sh :

{{ if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64") }}
HOMEBREW_PREFIX="/usr/local";
{{ else if (eq .chezmoi.os "linux" ) }}
HOMEBREW_PREFIX="/home/linuxbrew/.linuxbrew";
{{ end }}
export PATH="${HOMEBREW_PREFIX}/bin:${HOMEBREW_PREFIX}/sbin:$HOME/bin:/usr/local/bin:$PATH"

# Set a restrictive umask
umask 0077

# Optimize the directories available to switch into
export CDPATH=".:$HOME:$HOME/projects"
