# vim: set filetype=yaml :

env:
  # TERM variable
  #
  # This value is used to set the `$TERM` environment variable for
  # each instance of Alacritty. If it is not present, alacritty will
  # check the local terminfo database and use `alacritty` if it is
  # available, otherwise `xterm-256color` is used.
  TERM: "xterm-256color"

window:
  {{ if (eq .chezmoi.os "darwin") -}}
  # Window dimensions
  columns: 80
  lines: 25
  {{ end }}

  # Window padding (changes require restart)
  #
  # Blank space added around the window in pixels. This padding is scaled
  # by DPI and the specified value is always added at both opposing sides.
  padding:
    x: 2
    y: 2

  # Spread additional padding evenly around the terminal content.
  dynamic_padding: true

  # Window decorations
  #
  # Values for `decorations`:
  #     - full: Borders and title bar
  #     - none: Neither borders nor title bar
  #
  # Values for `decorations` (macOS only):
  #     - transparent: Title bar, transparent background and title bar buttons
  #     - buttonless: Title bar, transparent background and no title bar buttons
  {{ if (eq .chezmoi.os "linux") }}
  decorations: "none"
  {{ else if (eq .chezmoi.os "darwin") }}
  decorations: "full"
  {{ end }}

  # Startup Mode (changes require restart)
  #
  # Values for `startup_mode`:
  #   - Windowed
  #   - Maximized
  #   - Fullscreen
  #
  # Values for `startup_mode` (macOS only):
  #   - SimpleFullscreen
  startup_mode: "Windowed"

  # Window title
  title: "terminal"

  # Allow terminal applications to change Alacritty's window title.
  dynamic_title: true

  # Window class
  class:
    # Application instance name
    instance: "Alacritty"
    # General application class
    general: "Alacritty"

  # GTK theme variant
  #
  # Override the variant of the GTK theme. Commonly supported values are `dark`
  # and `light`. Set this to `None` to use the default theme variant.
  gtk_theme_variant: "None"

scrolling:
  # Maximum number of lines in the scrollback buffer.
  # Specifying '0' will disable scrolling.
  history: 5000

  # Scrolling distance multiplier.
  multiplier: 3

# Font configuration
font:
  # Normal (roman) font face
  normal:
    # Font family
    #
    # Default:
    #   - (macOS) Menlo
    #   - (Linux/BSD) monospace
    #   - (Windows) Consolas
    family: "Hack"

    # The `style` can be specified to pick a specific face.
    style: "Regular"

  # Bold font face
  bold:
    # Font family
    #
    # If the bold family is not specified, it will fall back to the
    # value specified for the normal font.
    family: "Hack"

    # The `style` can be specified to pick a specific face.
    style: "Bold"

  # Italic font face
  italic:
    # Font family
    #
    # If the italic family is not specified, it will fall back to the
    # value specified for the normal font.
    family: "Hack"

    # The `style` can be specified to pick a specific face.
    style: "Italic"

  # Bold italic font face
  bold_italic:
    # Font family
    #
    # If the bold italic family is not specified, it will fall back to the
    # value specified for the normal font.
    family: "Hack"

    # The `style` can be specified to pick a specific face.
    style: "Bold Italic"

  # Point size
  size: 14.0

  # Offset is the extra space around each character. `offset.y` can be thought
  # of as modifying the line spacing, and `offset.x` as modifying the letter
  # spacing.
  offset:
    x: 1
    y: 1

  # Glyph offset determines the locations of the glyphs within their cells with
  # the default being at the bottom. Increasing `x` moves the glyph to the
  # right, increasing `y` moves the glyph upward.
  #glyph_offset:
  #  x: 0
  #  y: 0

  # Thin stroke font rendering (macOS only)
  #
  # Thin strokes are suitable for retina displays, but for non-retina screens
  # it is recommended to set `use_thin_strokes` to `false`.
  use_thin_strokes: false

# If `true`, bold text is drawn using the bright color variants.
draw_bold_text_with_bright_colors: false

# https://github.com/eendroroy/alacritty-theme/blob/c39d698c29d5a32a04bb9138af290968c7e56577/themes/afterglow.yaml
colors:
  primary:
    background: "0x2c2c2c"
    foreground: "0xd6d6d6"

    dim_foreground:    "0xdbdbdb"
    bright_foreground: "0xd9d9d9"
    dim_background:    "0x202020" # not sure
    bright_background: "0x3a3a3a" # not sure

  # Cursor colors
  cursor:
    text:   "0x2c2c2c"
    cursor: "0xd9d9d9"

  # Normal colors
  normal:
    black:   "0x1c1c1c"
    red:     "0xbc5653"
    green:   "0x909d63"
    yellow:  "0xebc17a"
    blue:    "0x7eaac7"
    magenta: "0xaa6292"
    cyan:    "0x86d3ce"
    white:   "0xcacaca"

  # Bright colors
  bright:
    black:   "0x636363"
    red:     "0xbc5653"
    green:   "0x909d63"
    yellow:  "0xebc17a"
    blue:    "0x7eaac7"
    magenta: "0xaa6292"
    cyan:    "0x86d3ce"
    white:   "0xf7f7f7"

  # Dim colors
  dim:
    black:   "0x232323"
    red:     "0x74423f"
    green:   "0x5e6547"
    yellow:  "0x8b7653"
    blue:    "0x556b79"
    magenta: "0x6e4962"
    cyan:    "0x5c8482"
    white:   "0x828282"

# Bell
#
# The bell is rung every time the BEL control character is received.
bell:
  # Duration of the visual bell flash in milliseconds. A `duration` of `0` will
  # disable the visual bell animation.
  duration: 0

  # Bell Command
  #
  # This program is executed whenever the bell is rung.
  #
  # When set to `command: None`, no command will be executed.
  #
  # Example:
  #   command:
  #     program: notify-send
  #     args: ["Hello, World!"]
  #
  command: "None"

# Background opacity
#
# Window opacity as a floating point number from `0.0` to `1.0`.
# The value `0.0` is completely transparent and `1.0` is opaque.
background_opacity: 1.0

selection:
  # This string contains all characters that are used as separators for
  # "semantic words" in Alacritty.
  semantic_escape_chars: ",│`|:\"' ()[]{}<>\t"

  # When set to `true`, selected text will be copied to the primary clipboard.
  save_to_clipboard: true

cursor:
  # Cursor style
  style:
    # Cursor shape
    #
    # Values for `shape`:
    #   - ▇ Block
    #   - _ Underline
    #   - | Beam
    shape: "Block"

    # Cursor blinking state
    #
    # Values for `blinking`:
    #   - Never: Prevent the cursor from ever blinking
    #   - Off: Disable blinking by default
    #   - On: Enable blinking by default
    #   - Always: Force the cursor to always blink
    blinking: "Off"
