{{- if (not .is_devcontainer) -}}
# public key: {{ (onepasswordItemFields "dotfiles-secrets-age-keys" "Private").secureNotesPublic.v }}
{{ (onepasswordItemFields "dotfiles-secrets-age-keys" "Private").secureNotesPrivate.v }}
{{- end }}
