{{- if and (not .is_devcontainer) (not .is_remote_server) -}}
# public key: {{ (onepasswordItemFields "dotfiles-secrets-age-keys" "Private").secureNotesPublic.value }}
{{ (onepasswordItemFields "dotfiles-secrets-age-keys" "Private").secureNotesPrivate.value }}
{{- end }}
