#!/usr/bin/env bash

NVIMCMD="nvim"
if [[ ! -x "$(command -v "nvim")" ]]; then
  NVIMCMD="/home/linuxbrew/.linuxbrew/bin/nvim"
fi

{{ if (eq .chezmoi.os "darwin") }}
# darwin
{{ else if (eq .chezmoi.os "linux" ) }}
NVIM_AUTOLOAD_DIR="${HOME}/.local/share/nvim/site/autoload"
VIMPLUG="${NVIM_AUTOLOAD_DIR}/plug.vim"
{{ else }}
echo "Unsupported OS: {{ .chezmoi.os }}"
exit 0
{{ end }}

if [[ ! -f "$VIMPLUG" ]]; then
  mkdir -p "$NVIM_AUTOLOAD_DIR"
  curl -o "$VIMPLUG" "https://raw.githubusercontent.com/junegunn/vim-plug/d16273e07231260e02412625f98651bc6ceebb56/plug.vim"
  chmod 0755 "$VIMPLUG" 
fi

# Install the vim-plug plugins
$NVIMCMD -es -u ~/.config/nvim/init.vim -i NONE -c "PlugInstall" -c "qa"
