{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Set the highlight color to green
defaults write NSGlobalDomain "AppleHighlightColor" -string "0.764700 0.976500 0.568600" 

# Set the sidebar icon size to medium
defaults write NSGlobalDomain "NSTableViewDefaultSizeMode" -int "2" 

# Always show scrollbars
# Possible values are: 'WhenScrolling', 'Automatic', and 'Always'
defaults write NSGlobalDomain "AppleShowScrollBars" -string "Always" 

# Disable auto-correct
defaults write NSGlobalDomain "NSAutomaticSpellingCorrectionEnabled" -int "0" 

# Set the locale to en_CA
defaults write NSGlobalDomain "AppleLocale" -string "en_CA@currency=CAD" 

# Set the measurement units to inches
defaults write NSGlobalDomain "AppleMeasurementUnits" -string "Inches" 

# Do not use metric units
defaults write NSGlobalDomain "AppleMetricUnits" -int "0" 

# Set the keyboard repeat rate
defaults write NSGlobalDomain "InitialKeyRepeat" -int "25" 
defaults write NSGlobalDomain "KeyRepeat" -int "2" 

# Disable smart quotes
defaults write NSGlobalDomain "NSAutomaticQuoteSubstitutionEnabled" -int "0" 

# Disable smart dashes
defaults write NSGlobalDomain "NSAutomaticDashSubstitutionEnabled" -int "0" 

# Automatically quit the printer app once print jobs complete
defaults write com.apple.print.PrintingPrefs "Quit When Finished" -int "1" 

# Disable the "Are you sure you want to open this application?" dialog
defaults write com.apple.LaunchServices "LSQuarantine" -int "0" 

# Display ASCII control characters using caret notation in standard text views
defaults write NSGlobalDomain "NSTextShowsControlCharacters" -int "1" 

# Disable the crash reporter
defaults write com.apple.CrashReporter "DialogType" -string "none" 

# Check for software updates daily, not just once per week
defaults write com.apple.SoftwareUpdate "ScheduleFrequency" -int "1" 
{{ end -}}
