#!/usr/bin/env bash

NVIMCMD="nvim"
if [[ ! -x "$(command -v "nvim")" ]]; then
  {{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64")) }}
  NVIMCMD="/usr/local/bin/nvim"
  {{ else if (eq .chezmoi.os "linux") }}
  NVIMCMD="/home/linuxbrew/.linuxbrew/bin/nvim"
  {{ end }}
fi

{{ if (eq .chezmoi.os "darwin") }}
# darwin
{{ else if (eq .chezmoi.os "linux" ) }}
NVIM_AUTOLOAD_DIR="${HOME}/.local/share/nvim/site/autoload"
VIMPLUG="${NVIM_AUTOLOAD_DIR}/plug.vim"
{{ else }}
echo "Unsupported OS: {{ .chezmoi.os }}"
exit 0
{{ end }}

if [[ ! -f "$VIMPLUG" ]]; then
  mkdir -p "$NVIM_AUTOLOAD_DIR"
  curl --silent -o "$VIMPLUG" "https://raw.githubusercontent.com/junegunn/vim-plug/c9971346bb486ccff354aaee8606cc0d2d5a0c97/plug.vim"
  chmod 0755 "$VIMPLUG" 
fi

# Install the vim-plug plugins
$NVIMCMD -es -u ${HOME}/.config/nvim/init.vim -i NONE -c "PlugInstall" -c "qa" || true
