---
- name: "Homebrew fonts"
  become: true
  become_user: "marvin"
  community.general.homebrew_cask:
    name:
      - "font-inconsolata"
      - "font-noto-color-emoji"
      - "font-awesome-terminal-fonts"
      - "font-powerline-symbols"
      - "font-twitter-color-emoji"
      - "font-hack-nerd-font"
    state: "absent"
    path: "/home/linuxbrew/.linuxbrew/bin"
  notify: 'linux_regenerate-font-cache'

- meta: flush_handlers
