---
- name: "Make sure GRUB_CMDLINE_LINUX_DEFAULT does not use any options"
  become: true
  lineinfile:
    dest: "/etc/default/grub"
    state: "present"
    line: 'GRUB_CMDLINE_LINUX_DEFAULT=""'
    regexp: "^GRUB_CMDLINE_LINUX_DEFAULT="
    owner: "root"
    group: "root"
    mode: "0644"
  notify: "linux_update-grub"

- name: "Make sure GRUB_CMDLINE_LINUX does not use any options"
  become: true
  lineinfile:
    dest: "/etc/default/grub"
    state: "present"
    line: 'GRUB_CMDLINE_LINUX=""'
    regexp: "^GRUB_CMDLINE_LINUX="
    owner: "root"
    group: "root"
    mode: "0644"
  notify: "linux_update-grub"

- name: "Make sure GRUB_TERMINAL is set to console"
  become: true
  lineinfile:
    dest: "/etc/default/grub"
    state: "present"
    line: "GRUB_TERMINAL=console"
    owner: "root"
    group: "root"
    mode: "0644"
  notify: "linux_update-grub"

- meta: flush_handlers
