{{- if and (not .is_devcontainer) (not .is_remote_server) -}}
{{ (index (onepassword "dotfiles-secrets-ssh-config" "Private").fields 0).value }}
{{- end }}

Host github.com
  PreferredAuthentications publickey

Host *
  LogLevel ERROR
  TCPKeepAlive yes
  ServerAliveInterval 30
  KeepAlive yes
