{{ if (and (eq .chezmoi.os "linux") (not .is_devcontainer)) -}}
#!/usr/bin/env bash

SYSLOG_TAG="div2-bot"

info() {
  /usr/bin/logger --id --priority local3.info --tag $SYSLOG_TAG "INFO: $@"
}

current_window=$(xdotool getwindowfocus -f)
window_id=$(xdotool search --onlyvisible --class "chromium-browser")

function send_invite {
  local ign_handle=$1
  info "Inviting: $ign_handle"
  xdotool windowfocus --sync $window_id key Return
  sleep 1.5
  xdotool windowfocus --sync $window_id type --delay 40 "/invite $ign_handle"
  sleep 1.5
  xdotool windowfocus --sync $window_id key Return
  sleep 3
}

function start_loop {
  # info "Start phase: sending out invites"
  # send_invite "ign-handle-here"
  # send_invite "ign-handle-here"
  # send_invite "ign-handle-here"
  info "Start phase: walking out"
  xdotool windowfocus --sync $window_id key --repeat 5 --delay 500 'w'
  sleep 2
  info "Start phase: preparing grenade"
  xdotool windowfocus --sync $window_id key g
  sleep 4
  info "Start phase: throwing grenade for OC"
  xdotool windowfocus --sync $window_id key t
  sleep 0.3
  xdotool windowfocus --sync $window_id key t
  sleep 0.3
  xdotool windowfocus --sync $window_id key t
  sleep 5
  info "Start phase: scanning"
  xdotool windowfocus --sync $window_id key q
  sleep 0.3
  xdotool windowfocus --sync $window_id key q
  sleep 0.3
  xdotool windowfocus --sync $window_id key q
  info "Start phase: complete"
}

function wipe_loop {
  info "Wipe phase: initializing"
  xdotool windowfocus --sync $window_id key --repeat 11 --delay 500 'd'
  info "Wipe phase: firing sticky"
  xdotool windowfocus --sync $window_id key 'shift+e'
  sleep 4
  info "Wipe phase: triggering sticky"
  xdotool windowfocus --sync $window_id key e
  xdotool windowfocus --sync $window_id key e
  xdotool windowfocus --sync $window_id key e
  sleep 8
  info "Wipe phase: respawning"
  xdotool windowfocus --sync $window_id key f
  xdotool windowfocus --sync $window_id key f
  xdotool windowfocus --sync $window_id key f
  info "Wipe phase: complete"
}

function loop_cleanup {
  info "Cleanup phase: initializing"
  xdotool windowfocus --sync "$current_window"
  xdotool windowfocus --sync "$current_window"
  xdotool windowfocus --sync "$current_window"
  info "Cleanup phase: complete"
}

case "$1" in
  --start)
    start_loop
    loop_cleanup
    ;;
  --end)
    wipe_loop
    loop_cleanup
    ;;
esac
{{ end -}}
