{{ if (and (eq .chezmoi.os "linux") (not .is_devcontainer)) -}}
#!/usr/bin/env bash
export CLIPBOARD_URL=""
if [[ -n "$1" ]]; then
  CLIPBOARD_URL="$1"
else
  CLIPBOARD_URL=$(xclip -o -selection clipboard)
fi

CLIPBOARD_URL=$(url-cleaner "$CLIPBOARD_URL")

DEFAULT_PROFILE="Default"
FB_PROFILE="Profile 1"
SB_PROFILE="Profile 2"

option_list=("Copy to clipboard")
case_str=$(echo ${option_list[@]} | tr ',' '\n' | sort | rofi -dmenu -i -p "URL: ${CLIPBOARD_URL}" -no-custom)

case "${case_str}" in
  'Copy to clipboard')
    echo -ne "${CLIPBOARD_URL}" | xclip -i -selection clipboard
    ;;
  *)
    exit 0
esac
{{ end -}}
