{{- /* vim: set filetype=sh : */ -}}
{{ if (and (eq .chezmoi.os "linux") (not .is_devcontainer)) -}}
#!/usr/bin/env bash

EMOJI_FILE="$HOME/.cache/emojis.txt"

# https://github.com/milesj/emojibase/blob/3ea27099f17ac22a0935ec7bde8d466c8f3b7260/packages/data/en/data.raw.json
EMOJI_UPDATE_URL="https://raw.githubusercontent.com/milesj/emojibase/3ea27099f17ac22a0935ec7bde8d466c8f3b7260/packages/data/en/data.raw.json"

function update() {
  curl -sL "$EMOJI_UPDATE_URL"  | jq -r '.[] | (if has ("skins") then .skins[2].emoji else .emoji end) + "  " + (.label | ascii_upcase) + " " + (if has ("tags") then (.tags | .? | map("#" + .) | join(" ")) else "" end)' > "$EMOJI_FILE"
}

if [[ "$*" == "--update" ]]; then
  update
  exit 0
fi

# Update the emoji cache if it doesn't exist
if [[ ! -f "$EMOJI_FILE" ]]; then
  update
fi

answer_str=$(cat "$EMOJI_FILE" | rofi -dmenu -i -p "emoji" -no-custom)
if [[ -n "$answer_str" ]]; then
  emoji=$(echo "$answer_str" | awk '{print $1}')
  echo -ne "${emoji}" | xclip -i -selection clipboard
fi
{{ end -}}
