{{- /* vim: set filetype=sh : */ -}}
{{ if (and (eq .chezmoi.os "linux") (not .is_devcontainer)) -}}
#!/usr/bin/env bash
export CLIPBOARD_URL=$(xclip -o -selection clipboard)
CLIPBOARD_URL=$(url-cleaner "$CLIPBOARD_URL")

case_str=$(echo "$CLIPBOARD_URL" | rofi -dmenu -i -p "Copy clean URL to clipboard" -no-custom)

case "${case_str}" in
  "$CLIPBOARD_URL")
    echo -ne "${CLIPBOARD_URL}" | xclip -i -selection clipboard
    /usr/bin/notify-send "$(basename "$0")" "Successfully copied URL"
    ;;
  *)
    exit 0
esac
{{ end -}}
