{{ if (and (eq .chezmoi.os "linux") (not .is_devcontainer)) -}}
#!/usr/bin/env bash
pkill -9 scdaemon || true
ykman oath &> /dev/null
DMENU="rofi -dmenu"
if [ $? -eq 0 ]; then
  ykman oath accounts code -s $(ykman oath accounts list | ${DMENU} -i -p "Select Credential" -no-custom) | xclip -selection "clipboard"
fi
{{ end -}}
